@model Capstone2.Models.MenuPackages

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MenuPackages</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuPackageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuPackageName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfMainDish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfMainDish)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfSideDish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfSideDish)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfDessert)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfDessert)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfRice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfRice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfSoftDrinks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfSoftDrinks)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MenuPackageId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
